{% extends "base.html" %}

{% block signed_in %}
    <div class="btn-group pull-right">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    <i class="icon-user"></i> {{ user.get_full_name }}
	    <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
	    <li><a href="#">Profile</a></li>
            <li class="divider"></li>
	    <li><a href="{% url signout %}">Sign Out</a></li>
        </ul>
    </div>
{% endblock %}

{% block app_body %}
<p>Welcome {{ user.get_full_name }}</p>

{% endblock %}
