{% extends "base.html" %}

{% block app_body %}
    <div class="row">
	<div class="span3">&nbsp;</div>
	<div class="span5">
	    {{ form.non_field_errors }}
	    <form class="form-horizontal login" method="post" action="{% url signin %}?next={{ next }}">{% csrf_token %}
		<fieldset>
		    <legend>Login</legend>
		    <div class="control-group">
			{{ form.username.errors }}
			<label class="control-label" for="id_username">
			    {{ form.username.label }}
			</label>
			<div class="controls">
			    {{ form.username }}
			</div>
		    </div>
		    <div class="control-group">
			{{ form.password.errors }}
			<label class="control-label" for="id_password">
			    {{ form.password.label }}
			</label>
			<div class="controls">
			    {{ form.password }}
			</div>
		    </div>
		    <div class="form-actions">
			<button type="submit" class="btn btn-primary">Login</button>
		    </div>
		</fieldset>
	    </form>
	</div>
	<div class="span4">&nbsp;</div>
    </div>
{% endblock %}
