body	{
    position: relative;
    padding-top: 90px;
    background-color: #fff;
    background-image: url(../img/grid-18px-masked.png);
    background-repeat: repeat-x;
    background-position: 0 40px;
}

.join	{
    padding-top: 150px;
}

.login	{
    margin-top: 40px;
}

.login .alert	{
    margin-left: 34%;
    margin-right: 19%;
}

.details    {
    margin-left: 60px;
    margin-right: 40px;
}

.phone_no   {
    color: green;
    letter-spacing: 1px;
}

.capitalize {
    text-transform: capitalize;
}

.join form input[type='text']    {
    padding: 10px 14px;
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1px;
}
