{% extends "refer/index.html" %}

{% load thumbnail %}

{% block _form %}
    {{ form.non_field_errors }}
    {{ form.phone_number.errors }}
    <form class="well form-inline" action="{% url join_final %}" method="post">{% csrf_token %}
	{{ form.phone_number }}
	<button type="submit" class="btn btn-primary btn-large">Next</button>
    </form>
{% endblock %}

{% block you_or_referrer %}<h2>Your Details</h2>{% endblock %}

{% block final_or_done %}
    <a href="{% url join_done %}" class="btn btn-primary">Sign Up!</a>
{% endblock %}
