{% extends "base.html" %}

{% load thumbnail %}

{% block app_body %}
    <div class="row">
	<div class="span4">&nbsp;</div>
	{% if not subscriber %}
	    <div class="span4 join">
		{% block _form %}
		    {{ form.non_field_errors }}
		    {{ form.phone_number.errors }}
		    <form class="well form-inline" action="{% url join_pre %}" method="post">{% csrf_token %}
			{{ form.phone_number }}
			<button type="submit" class="btn btn-primary btn-large">Next</button>
		    </form>
		{% endblock %}
	    </div>
	{% else %}
	    <div class="span4">
		<div class="details">
		    {% block you_or_referrer %}<h2>Your Referrer&apos;s Details</h2>{% endblock %}
		    <div class="thumbnail">
			{% thumbnail subscriber.photo "260x180" crop="center" as sp %}
			    <img src="{{ sp.url }}" width="{{ sp.width }}" height="{{ sp.height }}"/>
			{% endthumbnail %}
			<div class="caption">
			    <h3>{{ subscriber.user.get_full_name }}</h3>
			    <h3 class="phone_no">{{ subscriber.get_msisdn }}</h3>
			    <p>If this information is correct, please continue.</p>
			    <p>
			    {% block final_or_done %}
				<a href="{% url join_final %}" class="btn btn-primary">Continue</a>
			    {% endblock %}
				<a href="{% url join_pre %}" class="btn">Cancel</a>
			    </p>
			</div>
		    </div>
		</div>
	    </div>
	{% endif %}
    </div>
{% endblock %}
