
{% load thumbnail %}

<form action="{% url join_pre %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    {% if not referrer %}
    <button>Next</button>
    {% endif %}
</form>

{% if referrer %}
    {% thumbnail referrer.photo "97x97" crop="center" as rp %}
    <img src="{{ rp.url }}" width="{{ rp.width }}" height="{{ rp.height }}"/>
    {% endthumbnail %}
    <p>
	You have chosen {{ referrer.user.first_name }} {{ referrer.user.last_name}} as your referrer.
	If this is correct, please continue.
    </p>
    <a href="{% url join_position %}">Confirm</a>&nbsp;<a href="{% url join_pre %}">Cancel</a>
{% endif %}
