{% extends "base.html" %}

{% load thumbnail %}

{% block app_body %}

{% block _form %}
<form id="join_form" action="{% url join_pre %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    {% if not subscriber %}
    <button>Next</button>
    {% endif %}
</form>
{% endblock %}

{% if subscriber %}
    {% thumbnail subscriber.photo "97x97" crop="center" as sp %}
    <img src="{{ sp.url }}" width="{{ sp.width }}" height="{{ sp.height }}"/>
    {% endthumbnail %}
    {% block subscriber_confirm %}
    <p>
	You have chosen {{ subscriber.user.get_full_name }} as your referrer.
	If this is correct, please continue.
    </p>
    <a href="{% url join_final %}">Confirm</a>&nbsp;<a href="{% url join_pre %}">Cancel</a>
    {% endblock %}
{% endif %}
{% endblock %}

{% block custom_js %}
    <script src="{{ STATIC_URL }}js/jquery.numeric.js"></script>
    <script>
	$(".numeric").numeric();
	$(".integer").numeric(false, function()	{
	    alert("Integers only"); this.value = ""; this.focus();
	});
    </script>
{% endblock %}
