{% load mptt_tags %}
<ul>
    {% recursetree members %}
    <li>
	<p>{{ node.id }}. {{ node.subscriber.get_msisdn }} 
	{% if not node.referrer %}
	    Referrer: None
	{% else %}
	    Referrer: {{ node.referrer.subscriber.get_msisdn }} 
	{% endif %}
	{% ifequal node.rank.rank 0 %}
	    Rank: None
	{% else %}
	    Rank: {{ node.rank.get_rank_display }}
	{% endifequal %}
	{% if not node.is_leaf_node %}
	<ul class="children">
	    {{ children }}
	</ul>
	{% endif %}
    </li>
    {% endrecursetree %}
</ul>

<div>
    {% for k, v in descendant_count.items %}
    <p>{{ k.subscriber.get_msisdn }} {{ v }}</p>
    {% endfor %}
</div>
